

.login-con{
    background-color: #4f7c82;
    box-shadow: 15px 20px 20px rgba(0,0,0,.3),
                inset 6px 6px 10px #415254;
    border-radius: 30px;
    color: black;
}


.card-mainlogin{
    width: 200px;
    max-height:250px;
    background-color: #4f7c82;
    border: none;
    box-shadow: 15px 20px 20px rgba(0,0,0,.3),
                inset 4px 4px 10px #415254;
    border-radius: 30px;  
    overflow:hidden;
    object-fit: cover;
    justify-content: center;  
    align-items: center;
    margin: 20px auto;
    transition: transform 0.3s ease;
}
.card-loginimg{
    width: 100px;
    height: 120px;
   
}.card-mainlogin:hover {
    transform: scale(1.1); 
  }
.login-text{
    font-size: 20px;
    font-weight: 800;
   text-decoration: none;
}
.ad-card{
    display: grid;
    justify-content: center;
}
.loginus-con h1{
    font-weight: 800;
}





    
